@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  color: #6b7280;
  overflow-x: hidden;
}

*:focus {
  outline: none;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.nav-open .main-nav {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
}

.nav-links:link,
.nav-links:visited {
  transition: all 0.3s;
  padding: 1rem;
}

.nav-position {
  top: 0;
  transform: translate(-50%, 50%);
  left: 40%;
}

.nav-position ul {
  padding: 4% 45% 22% 10%;
}

.smooth-trans {
  transition: all 0.3s;
}

.news-cta:hover,
.news-cta:active {
  background: rgba(0, 0, 0, 0.8);
}
